<app-navbar [activeNavItem]="NavItem.Dashboard"/>

<div class="main-container">
    <div class="row">
        <div class="col">
            <div class="row" style="overflow-y: auto; max-height: 100vh;">
                <div class="col-lg-12 col-md-12 mb-sm-0 py-2" *ngFor="let meeting of meetings">
                    <app-meeting-info [title]=meeting.title [description]=meeting.description
                                      [startTime]=meeting.startTime [endTime]=meeting.endTime
                                      [remote]=meeting.remote
                                      [id]=meeting.id
                                      (deleteMeeting)="onDeleteMeeting($event)"/>
                </div>
            </div>
        </div>
        <div class="col">
            <app-meeting-form (addMeeting)="onAddMeeting($event)"/>
            <div class="alert alert-info meeting-added-alert" role="alert" *ngIf="alertMeetingAdded">
                New meeting added
            </div>
        </div>

    </div>
</div>
