.carousel-wrapper ngb-carousel img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  //color: #fff;
  padding: 20vh 5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 60%;
  text-align: left;
}
.client-name {
  position: relative;}
.client-name::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.client-description {
  padding: 2vh 0;
}
.btn-floating {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  font-size: 5em;
  color: white;
}

.btn-floating:active {
  color: #ad3a75;
}
