<app-navbar />
<div class="container main-container">
  <div class="row">
    <div class="col text-center align-self-center">
      <h1>Meeting Creator</h1>
      <h3>Create and manage meetings with ease</h3>
    </div>
  </div>
  <div class="row buttons-row" *ngIf="!authService.isAuthenticated()">
    <div class="col text-center align-self-center">
      <button class="btn btn-outline-white" id="create-account-btn">Create account</button>
      <button class="btn btn-outline-main" id='sign-in-btn' (click)="onSignInCLick()">Sign in</button>
    </div>
  </div>
</div>
